{% load static %}

<div class="row my-3">
        {% for ad in ads %}
            <div class="col-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                    {% if ad.photo %}
                        <img src="{{ ad.photo.url  }}" class="card-img-top" alt="photo">
                    {% else %}
                        <img src="{% static 'img/No_picture.jpg' %}" class="card-img-top" alt="photo">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">Автор:<a style="text-decoration: none" href="{% url 'accounts:user_profile' ad.author.pk %}">
                    {{ ad.author.first_name | capfirst }}</a></p>
                        <p class="card-text">Телефон: {{ ad.author.phone }}</p>
                        <p class="card-text">Категория: {{ ad.category }}</p>
                        <p class="card-text">Цена: {{ ad.price|default:"" }}</p>
                        <p class="card-text">Описание: {{ ad.text }}</p>
                        <p class="card-text">status: {{ ad.status }}</p>
                        {% if more %}
                            <div class="btn-group">
                                <a class="btn btn-success" href="{% url 'webapp:ad_view' ad.pk %}">Просмотр</a>
                                {% if ad.author == request.user %}
                                    {% if ad.status != 'Rejected'%}
                                        <a class="btn btn-primary" href="{% url 'webapp:ad_update' ad.pk %}">Изменить</a>
                                    {%  endif %}
                                    <a class="btn btn-danger" href="{% url 'webapp:ad_delete' ad.pk %}">Удалить</a>
                                {%  endif %}
                            </div>
                            {% endif %}
                        {% if approve %}
                            <a href="{% url 'webapp:ad_approve_detail' ad.pk %}" type="button" class="btn btn-outline-primary ml-0 pl-0 mt-auto pt-auto">Просмотр</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
</div>

{% if is_paginated %}
   {% include 'partial/pagination.html' %}
{% endif %}